@model IEnumerable<CarRental.Models.Car>


@{
    ViewBag.Title = "AvailableCars";
}

<h2>Available cars</h2>
<br>
<h4><b>Small</b></h4>

<table  class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHired)
        </th>
        <th></th>
    </tr>

    
    @foreach (var item in Model)
    {

        if(item.CarCategory == CarRental.Models.CarSegment.Small)
        {
         <tr>
            <td>
                @Html.DisplayFor(model => item.CarCategory)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(model => item.RentPrice)
            </td>
            <td>
                @Html.Raw((item.IsHired) ? "No" : "Yes") <!-- displays Yes/No instead of check box -->
                @*@Html.DisplayFor(model => item.IsHired)*@
            </td>

            <td>
                @Html.ActionLink("Book car", "Create", "Orders", new { id = item.CarRegNo }, null)
            </td>
        </tr>
        }
    }

</table>

<h4><b>Medium</b></h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHired)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        if (item.CarCategory == CarRental.Models.CarSegment.Medium)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.CarCategory)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CarMake)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(model => item.RentPrice)
                </td>
                <td>
                    @Html.Raw((item.IsHired) ? "No" : "Yes") <!-- displays Yes/No instead of check box -->
                    @*@Html.DisplayFor(model => item.IsHired)*@
                </td>

                <td>
                    @Html.ActionLink("Book car", "Create", "Customers")
                </td>
            </tr>
        }
    }

</table>

<h4><b>Big</b></h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHired)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        if (item.CarCategory == CarRental.Models.CarSegment.Big)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.CarCategory)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CarMake)
                </td>
                <td>
                    @Html.DisplayFor(model => item.CarModel)
                </td>
                <td>
                    @Html.DisplayFor(model => item.RentPrice)
                </td>
                <td>
                    @Html.Raw((item.IsHired) ? "No" : "Yes") <!-- displays Yes/No instead of check box -->
                    @*@Html.DisplayFor(model => item.IsHired)*@
                </td>

                <td>
                    @Html.ActionLink("Book car", "Create", "Customers")
                </td>
            </tr>
        }
    }
</table>

<P>
    @Html.ActionLink("Back to Home", "Index", "Home")
</P>
