@model IEnumerable<CarRental.Models.Car>


@{
    ViewBag.Title = "AllCars";
}

<h2>AllCars</h2>

<table  class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarRegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHired)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.CarRegNo)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(model => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(model => item.RentPrice)
            </td>
            <td>
                @Html.Raw((item.IsHired) ? "No" : "Yes") <!-- displays Yes/No instead of check box -->
                @*@Html.DisplayFor(model => item.IsHired)*@
            </td>

            <td>
                @Html.ActionLink("Book car", "Home", new { id = item.CarRegNo })
            </td>
        </tr>
    }

</table>

<P>
    @Html.ActionLink("Back to Home", "Index", "Home")
</P>
